<!DOCTYPE html>
<html lang="en">
<%= require('../partials/head.html') %>

<body>
    <%= require('../partials/top-menu.html') %>
    <%= require('../partials/about-about.html') %>
    <%= require('../partials/about-current.html') %>
    <%= require('../partials/about-undertext.html') %>
    <%= require('../partials/btn-centered-block-about.html') %>
    <%= require('../partials/subscription-block.html') %>
    <%= require('../partials/footer.html') %>
    <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script src="https://yastatic.net/share2/share.js"></script>
</body>

</html>