<!DOCTYPE html>
<html lang="en">
<%= require('../partials/head.html') %>
<body>
<%= require('../partials/top-menu.html') %>
<%= require('../partials/main-about.html') %>
<%= require('../partials/btn-centered-block-me.html') %>
<%= require('../partials/works-grid.html') %>
<%= require('../partials/btn-centered-block-upload.html') %>
<%= require('../partials/subscription-block.html') %>
<%= require('../partials/footer.html') %>
</body>
</html>
